<h3 class="post-list-heading">GOOD REFERENCES</h3>
    <ul class="post-list"><li><span class="post-meta">Feb 24, 2018</span> &raquo;
      <a class="post-link" href="https://books.google.com.sa/books?id=u01ODAAAQBAJ&printsec=frontcover&dq=SDN+comprehensive+approach&hl=en&sa=X&ved=0ahUKEwjpjtvA7ofbAhVCjiwKHdyJCrUQ6AEIJTAA#v=onepage&q=SDN%20comprehensive%20approach&f=false">
        Software Defined Networks: A Comprehensive Approach
      </a></li><li><span class="post-meta">Feb 24, 2018</span> &raquo;
      <a class="post-link" href="https://hpbn.co/">
        High Performance Browser Networking
      </a></li><li><span class="post-meta">Feb 24, 2018</span> &raquo;
      <a class="post-link" href="http://www.computervisionmodels.com/">
        Computer Vision:  Models, Learning, and Inference
      </a></li><li><span class="post-meta">Feb 24, 2018</span> &raquo;
      <a class="post-link" href="https://books.google.com.sa/books?id=pQws07tdpjoC&printsec=frontcover&dq=data+mining+han+and+kimber+books&hl=en&sa=X&ved=0ahUKEwigy_ig7ofbAhWCOSwKHUmgAv4Q6AEIJzAA#v=onepage&q&f=false">
        Data Mining: Concepts and Techniques
      </a></li></ul>